@import "../css/html5reset.css";
@import "../css/regions.css";
@import "../css/styleguide.css";
.transit {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* {
  font-size: 14px;
}
p,
ul li {
  font-size: 14px;
}
.field-name-body ul,
.field-name-body ol {
  margin-bottom: 10px;
  padding-left: 18px;
}
.search-result {
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 1px dashed #ddd;
}
.search-result .search-snippet strong {
  color: #ee333a;
}
.search-result .search-info {
  display: none;
}
body {
  background: #f5f5f5;
}
body #header-top {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding-bottom: 0;
}
body #header-top #header-top-inner {
  position: relative;
  padding-bottom: 20px;
}
body #header-top #block-search-form {
  position: absolute;
  right: 0;
  top: 10px;
}
body #header-top #block-search-form .container-inline {
  position: relative;
  width: 200px;
}
body #header-top #block-search-form .container-inline .form-item-search-block-form {
  width: 100%;
}
body #header-top #block-search-form .container-inline .form-item-search-block-form input.form-text {
  width: 94%;
  padding: 6px 3%;
}
body #header-top #block-search-form .container-inline .form-actions {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
body #header-top #block-search-form .container-inline .form-actions input.form-submit {
  display: block;
  height: 100%;
  background: none;
  border: 0;
  border-radius: 0;
  background: url(../images/icon-search.png) no-repeat center;
  cursor: pointer;
  text-indent: -999999px;
  width: 40px;
  opacity: 0.7;
}
body #header-top #logo {
  position: absolute;
  left: 0;
  bottom: 0;
}
body #header-top #logo img {
  display: block;
}
body #header-top #name-and-slogan {
  margin-left: 120px;
}
body #header-top #name-and-slogan h2#site-name {
  margin-bottom: 0;
}
body #header-top #name-and-slogan h2#site-name a {
  font-weight: 300;
}
body #header-top #name-and-slogan #site-slogan {
  font-size: 16px;
  font-style: italic;
}
body #header-bottom {
  display: none;
}
body #menubox-top {
  margin-top: 95px;
  border-bottom: 1px dashed #aaa;
  margin-bottom: 30px;
}
body #menubox-top #block-system-main-menu {
  display: none;
}
body #menubox-top #block-superfish-1 {
  display: block;
}
body #menubox-top #block-superfish-1 ul#superfish-1 {
  text-align: center;
}
body #menubox-top #block-superfish-1 ul#superfish-1 > li {
  float: none;
  display: inline-block;
}
body #menubox-top #block-superfish-1 ul#superfish-1 > li > a {
  padding: 0 20px;
  color: #404040;
}
body #menubox-top #block-superfish-1 ul#superfish-1 > li > a:hover,
body #menubox-top #block-superfish-1 ul#superfish-1 > li > a.active {
  color: #ee333a;
}
body #menubox-top #block-superfish-1 ul#superfish-1 > li > ul {
  background: #fff;
  padding: 10px;
  margin: 0 0 0 -40px;
  border: 1px solid #ddd;
}
body #menubox-top #block-superfish-1 ul#superfish-1 > li > ul:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-bottom: 10px solid #ddd;
}
body #menubox-top #block-superfish-1 ul#superfish-1 > li > ul:after {
  content: "";
  position: absolute;
  top: -19px;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
body #menubox-top #block-superfish-1 ul#superfish-1 > li > ul > li {
  padding: 0;
  margin: 0;
}
body #menubox-top #block-superfish-1 ul#superfish-1 > li > ul > li > a {
  padding: 3px 10px;
  text-align: left;
  border-bottom: 1px dashed #ddd;
  color: #404040;
}
body #menubox-top #block-superfish-1 ul#superfish-1 > li > ul > li > a:hover,
body #menubox-top #block-superfish-1 ul#superfish-1 > li > ul > li > a.active {
  color: #ee333a;
}
body #content {
  padding-bottom: 50px;
}
body #content #content-sidebar {
  padding: 0;
  margin: 0 30px 0 0;
  background: #fff;
  border: 1px solid #ddd;
}
body #content #content-sidebar .sliderbutton_sidebar {
  display: none;
}
body #content #content-sidebar .region-sidebar-left {
  display: block;
  margin: 0;
  padding: 20px 20px 0;
}
body #content #content-sidebar .region-sidebar-left .block {
  margin: 0 0 30px;
}
body #content #content-sidebar .region-sidebar-left .block h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #ee333a;
}
body #content #content-sidebar .region-sidebar-left .block ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
body #content #content-sidebar .region-sidebar-left .block ul.menu > li {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px dashed #eee;
}
body #content #content-sidebar .region-sidebar-left .block ul.menu > li > a {
  padding: 5px 0;
  font-size: 13px;
  display: block;
  margin: 0;
  padding-left: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #404040;
}
body #content #content-sidebar .region-sidebar-left .block ul.menu > li > a:hover {
  color: #ee333a;
}
body #content #content-sidebar .region-sidebar-left .block ul.menu > li > a.active {
  background: #ee333a;
  color: #fff;
  position: relative;
  width: 261px;
}
body #content #content-sidebar .region-sidebar-left .block ul.menu > li > a.active:after {
  content: "";
  position: absolute;
  width: 9px;
  height: 3px;
  top: -3px;
  right: 0;
  background: url(../images/flap.png) no-repeat center;
}
body #content #content-sidebar .region-sidebar-left .block#block-views-albums-block .view-albums .views-row .field-name-field-album-pic {
  position: relative;
}
body #content #content-sidebar .region-sidebar-left .block#block-views-albums-block .view-albums .views-row .field-name-field-album-pic img {
  display: block;
}
body #content #content-sidebar .region-sidebar-left .block#block-views-albums-block .view-albums .views-row .field-name-field-album-pic a {
  display: block;
}
body #content #content-sidebar .region-sidebar-left .block#block-views-albums-block .view-albums .views-row .field-name-field-album-pic a:hover:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../images/loep.png) no-repeat center rgba(0, 0, 0, 0.7);
}
body #content #content-sidebar .region-sidebar-left .block#block-views-albums-block .view-albums .views-row .field-name-title {
  margin: 5px 0 0;
}
body #content #content-sidebar .region-sidebar-left .block#block-views-albums-block .view-albums .views-row .field-name-title h3 {
  font-size: 14px;
  text-transform: none;
  font-style: italic;
  margin-bottom: 0;
  font-weight: 400;
}
body #content #content-sidebar .region-sidebar-left .block#block-views-albums-block .view-albums .views-row .field-name-field-album-tax {
  font-size: 10px;
  text-transform: none;
  font-style: italic;
  margin-bottom: 20px;
  font-weight: 300;
  color: #aaa;
}
body #content #content-sidebar .region-sidebar-left .block#block-views-albums-block .view-albums .views-row .field-name-field-album-tax .field-item {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0 5px 0 0;
  border-right: 1px solid #ccc;
}
body #content #content-sidebar .region-sidebar-left .block#block-views-albums-block .view-albums .views-row .field-name-field-album-tax .field-item:last-child {
  border-right: 0;
}
body #content #content-sidebar .region-sidebar-left .block#block-views-calendar-block-1 .view-calendar .view-header .date-nav {
  margin: 0;
  padding: 0;
  font-size: 12px;
  border: 1px solid #ddd;
  border-bottom: 0;
}
body #content #content-sidebar .region-sidebar-left .block#block-views-calendar-block-1 .view-calendar .view-header .date-nav ul.pager {
  margin: 0;
}
body #content #content-sidebar .region-sidebar-left .block#block-views-calendar-block-1 .view-calendar .view-header .date-nav ul.pager li {
  margin: 0;
  border-radius: 0;
}
body #content #content-sidebar .region-sidebar-left .block#block-views-calendar-block-1 .view-calendar .view-content table.mini tbody {
  border: 1px solid #ddd;
  border-top: 0;
}
body #content #content-sidebar .region-sidebar-left .block#block-views-calendar-block-1 .view-calendar .view-content table.mini tbody tr td {
  text-align: center;
}
body #content #content-sidebar .region-sidebar-left .block#block-views-calendar-block-1 .view-calendar .view-content table.mini tbody tr td.today {
  border: 1px solid #ee333a;
  background: none;
}
body #content #content-content #breadcrumb {
  font-size: 11px;
  font-style: italic;
  border-bottom: 1px dashed #ddd;
}
body #content #content-content h1#page-title {
  color: #ee333a;
}
body.front #header-top {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
}
body.front #header-bottom {
  padding: 0;
  display: block;
}
body.front #header-bottom #block-views-pocomas-slideshow-block {
  position: relative;
}
body.front #header-bottom #block-views-pocomas-slideshow-block .view-pocomas-slideshow .flex-viewport {
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
body.front #header-bottom #block-views-pocomas-slideshow-block .view-pocomas-slideshow .flex-viewport .views-row .ds-1col {
  position: relative;
}
body.front #header-bottom #block-views-pocomas-slideshow-block .view-pocomas-slideshow .flex-viewport .views-row .ds-1col .field-name-field-slideshow-image img {
  min-width: 100%;
  display: block;
}
body.front #header-bottom #block-views-pocomas-slideshow-block .view-pocomas-slideshow .flex-viewport .views-row .ds-1col .field-name-title {
  position: absolute;
  z-index: 99999999;
  display: block;
  left: 0;
  top: 50%;
  padding: 15px 30px;
  background: rgba(255, 255, 255, 0.9);
}
body.front #header-bottom #block-views-pocomas-slideshow-block .view-pocomas-slideshow .flex-viewport .views-row .ds-1col .field-name-title h2 {
  font-size: 30px;
  margin: 0;
  font-weight: 300;
}
body.front #header-bottom #block-views-pocomas-slideshow-block .view-pocomas-slideshow ol.flex-control-nav {
  display: none;
}
body.front #header-bottom #block-views-pocomas-slideshow-block .view-pocomas-slideshow ul.flex-direction-nav {
  position: absolute;
  bottom: 48px;
  z-index: 8;
  width: 100%;
}
body.front #header-bottom #block-views-pocomas-slideshow-block .view-pocomas-slideshow ul.flex-direction-nav li {
  list-style: none;
}
body.front #header-bottom #block-views-pocomas-slideshow-block .view-pocomas-slideshow ul.flex-direction-nav li a {
  right: 0;
  opacity: 1;
  overflow: visible;
  text-indent: -999999px;
  width: 10px;
  height: 24px;
  display: block;
  position: absolute;
  text-align: center;
}
body.front #header-bottom #block-views-pocomas-slideshow-block .view-pocomas-slideshow ul.flex-direction-nav li a:before {
  display: none;
}
body.front #header-bottom #block-views-pocomas-slideshow-block .view-pocomas-slideshow ul.flex-direction-nav li a.flex-prev {
  right: 50px;
  background: url(../images/flex-prev.png) no-repeat left top;
}
body.front #header-bottom #block-views-pocomas-slideshow-block .view-pocomas-slideshow ul.flex-direction-nav li a.flex-next {
  right: 30px;
  left: auto;
  background: url(../images/flex-next.png) no-repeat left top;
}
body.front #menubox-top {
  margin-top: 0;
}
body.front #content .region-sidebar-left #block-views-albums-block {
  margin-bottom: 10px;
}
body.front #content .region-sidebar-left #block-views-calendar-block-2 .view-calendar ul {
  list-style: none;
  padding: 0;
}
body.front #content .region-sidebar-left #block-views-calendar-block-2 .view-calendar ul li.views-row {
  list-style: none;
  margin: 0 0 5px;
  padding: 0 0 5px;
  border-bottom: 1px dashed #ddd;
}
body #footer-top {
  background: #e4e4e4;
  padding: 80px 0;
}
body #footer-top .region-footer-top > div {
  display: inline-block;
  vertical-align: top;
}
body #footer-top .region-footer-top > div#block-nodeblock-24 {
  width: 60%;
}
body #footer-top .region-footer-top > div#block-nodeblock-24 .left {
  width: 38%;
  float: left;
}
body #footer-top .region-footer-top > div#block-nodeblock-24 .right {
  width: 62%;
  float: right;
}
body #footer-top .region-footer-top > div#block-nodeblock-23 {
  width: 38%;
}
body #footer-bottom {
  background: #222;
  color: #fff;
}
body #footer-bottom:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
body #footer-bottom .copyright {
  float: left;
  font-size: 10px;
}
body #footer-bottom .g-raph {
  float: right;
  margin: 0 0 0 15px;
  padding: 2px 0 0 15px;
  position: relative;
}
body #footer-bottom .g-raph a .popup {
  background: #fff;
  padding: 3px 5px;
  display: none;
  position: absolute;
  top: -32px;
  left: -180px;
  width: 200px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  color: #ee333a;
}
body #footer-bottom .g-raph a .popup:after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 10px;
  border: 4px solid transparent;
  border-top: 8px solid #fff;
}
body #footer-bottom .g-raph a:hover .popup {
  display: block;
}
.page-albums #content .tabs {
  display: none;
}
.page-albums #content .view-albums .view-header {
  font-size: 14px;
  margin: 0 0 20px;
}
.page-albums #content .view-albums .views-row {
  display: inline-block;
  width: 45%;
  margin: 0 3% 20px 0;
  vertical-align: top;
  padding: 4px 4px 20px;
  border: 1px solid #ddd;
  background: #fff;
}
.page-albums #content .view-albums .views-row .field-name-title h2 {
  margin: 10px 0 5px;
  width: 100%;
  text-align: center;
}
.page-albums #content .view-albums .views-row .field-name-field-album-pic {
  position: relative;
}
.page-albums #content .view-albums .views-row .field-name-field-album-pic img {
  display: block;
}
.page-albums #content .view-albums .views-row .field-name-field-album-pic a {
  display: block;
}
.page-albums #content .view-albums .views-row .field-name-field-album-pic a:hover:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../images/loep.png) no-repeat center rgba(0, 0, 0, 0.7);
}
.page-albums #content .view-albums .views-row .field-name-field-album-tax .field-label {
  font-size: 10px;
  font-style: italic;
  margin-right: 5px;
  padding-top: 6px;
}
.page-albums #content .view-albums .views-row .field-name-field-album-tax .field-items {
  width: 100%;
  text-align: center;
}
.page-albums #content .view-albums .views-row .field-name-field-album-tax .field-items > .field-item {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.page-albums #content .view-albums .views-row .field-name-field-album-tax .field-items > .field-item a {
  padding: 2px 6px;
  border-radius: 4px;
  margin: 0 5px;
  font-size: 10px;
  background: #ccc;
  color: #404040;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.page-albums #content .view-albums .views-row .field-name-field-album-tax .field-items > .field-item a:hover {
  background: #404040;
  color: #ccc;
}
.page-taxonomy-term #content #block-system-main > .content > .node-fotoalbum {
  display: inline-block;
  width: 45%;
  margin: 0 3% 20px 0;
  vertical-align: top;
  padding: 4px 4px 20px;
  border: 1px solid #ddd;
  background: #fff;
}
.page-taxonomy-term #content #block-system-main > .content > .node-fotoalbum .field-name-title h2 {
  margin: 10px 0 5px;
  width: 100%;
  text-align: center;
}
.page-taxonomy-term #content #block-system-main > .content > .node-fotoalbum .field-name-field-album-pic {
  position: relative;
}
.page-taxonomy-term #content #block-system-main > .content > .node-fotoalbum .field-name-field-album-pic img {
  display: block;
}
.page-taxonomy-term #content #block-system-main > .content > .node-fotoalbum .field-name-field-album-pic a {
  display: block;
}
.page-taxonomy-term #content #block-system-main > .content > .node-fotoalbum .field-name-field-album-pic a:hover:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../images/loep.png) no-repeat center rgba(0, 0, 0, 0.7);
}
.page-taxonomy-term #content #block-system-main > .content > .node-fotoalbum .field-name-field-album-tax .field-label {
  font-size: 10px;
  font-style: italic;
  margin-right: 5px;
  padding-top: 6px;
}
.page-taxonomy-term #content #block-system-main > .content > .node-fotoalbum .field-name-field-album-tax .field-items {
  width: 100%;
  text-align: center;
}
.page-taxonomy-term #content #block-system-main > .content > .node-fotoalbum .field-name-field-album-tax .field-items > .field-item {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.page-taxonomy-term #content #block-system-main > .content > .node-fotoalbum .field-name-field-album-tax .field-items > .field-item a {
  padding: 2px 6px;
  border-radius: 4px;
  margin: 0 5px;
  font-size: 10px;
  background: #ccc;
  color: #404040;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.page-taxonomy-term #content #block-system-main > .content > .node-fotoalbum .field-name-field-album-tax .field-items > .field-item a:hover {
  background: #404040;
  color: #ccc;
}
.node-type-fotoalbum #content .node-fotoalbum > .field {
  margin: 0 0 20px;
}
.node-type-fotoalbum #content .node-fotoalbum .field-name-field-album-tax .field-label {
  font-size: 10px;
  font-style: italic;
  margin-right: 5px;
  padding-top: 6px;
}
.node-type-fotoalbum #content .node-fotoalbum .field-name-field-album-tax .field-items > .field-item {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.node-type-fotoalbum #content .node-fotoalbum .field-name-field-album-tax .field-items > .field-item a {
  padding: 2px 6px;
  border-radius: 4px;
  margin: 0 5px;
  font-size: 10px;
  background: #ccc;
  color: #404040;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.node-type-fotoalbum #content .node-fotoalbum .field-name-field-album-tax .field-items > .field-item a:hover {
  background: #404040;
  color: #ccc;
}
.node-type-fotoalbum #content .node-fotoalbum .field-name-field-album-pic .field-items > .field-item {
  display: inline-block;
  vertical-align: top;
  width: auto;
  margin: 0 5px 5px 0;
}
.node-type-fotoalbum #content .node-fotoalbum .field-name-field-album-pic .field-items > .field-item img {
  margin: 0;
  display: block;
}
.form-textarea-wrapper textarea {
  width: 572px;
  padding: 6px;
  border: 1px solid #eee;
}
.resizable-textarea .grippie {
  width: 570px;
}
@media screen and (min-width: 740px) and (max-width: 980px) {
  body.front #header-bottom #block-views-pocomas-slideshow-block .view-pocomas-slideshow .flex-viewport .views-row .ds-1col .field-name-title h2 {
    font-size: 22px;
  }
  body #content #content-sidebar {
    margin: 0 25px 0 0;
    width: 36%;
  }
  body #content #content-sidebar .region-sidebar-left {
    margin: 0;
    width: 210px;
  }
  .page-albums #content .view-albums .views-row,
  .page-taxonomy-term #content #block-system-main > .content > .node-fotoalbum {
    margin-right: 2%;
  }
  .form-textarea-wrapper textarea {
    width: 422px;
    padding: 6px;
    border: 1px solid #eee;
  }
  .resizable-textarea .grippie {
    width: 420px;
  }
  input.form-text {
    width: 408px;
  }
  body #footer-top .region-footer-top > div#block-nodeblock-24 .left {
    width: 34%;
  }
  body #content #content-sidebar .region-sidebar-left .block ul.menu > li > a.active {
    width: 231px;
  }
}
@media screen and (max-width: 740px) {
  body #content #content-sidebar .region-sidebar-left {
    margin: 0;
  }
  .form-textarea-wrapper textarea {
    width: 99%;
    padding: 6px;
    border: 1px solid #eee;
  }
  .resizable-textarea .grippie {
    width: 98%;
  }
  input.form-text {
    width: 95%;
  }
  body #header-top {
    padding: 10px 0 0;
  }
  body #header-top #header-top-inner #logo {
    max-width: 50px;
    bottom: 0;
  }
  body #header-top #header-top-inner #block-search-form {
    display: none;
  }
  body #header-top #header-top-inner #name-and-slogan {
    margin-left: 60px;
  }
  body #header-top #header-top-inner #name-and-slogan h2#site-name {
    font-size: 13px;
    padding-top: 10px;
  }
  body #header-top #header-top-inner #name-and-slogan #site-slogan {
    display: none;
  }
  body.front #header-top {
    position: relative;
  }
  body.front #header-bottom #block-views-pocomas-slideshow-block .view-pocomas-slideshow .flex-viewport .views-row .ds-1col .field-name-title {
    position: relative;
  }
  body.front #header-bottom #block-views-pocomas-slideshow-block .view-pocomas-slideshow .flex-viewport .views-row .ds-1col .field-name-title h2 {
    font-size: 16px;
  }
  body.front #header-bottom #block-views-pocomas-slideshow-block .view-pocomas-slideshow ul.flex-direction-nav {
    display: none;
  }
  body #menubox-top {
    margin-top: 60px;
  }
  body #menubox-top #menubox-top-inner #block-system-main-menu {
    display: block;
  }
  body #menubox-top #menubox-top-inner #block-system-main-menu .sliderbutton_menu {
    cursor: pointer;
    padding-left: 15px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: url(../images/arrow-down.png) no-repeat 92% center;
  }
  body #menubox-top #menubox-top-inner #block-system-main-menu .sliderbutton_menu.open {
    background: url(../images/arrow-up.png) no-repeat 92% center;
  }
  body #menubox-top #menubox-top-inner #block-system-main-menu .content {
    display: none;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #ddd;
  }
  body #menubox-top #menubox-top-inner #block-system-main-menu .content > ul.menu {
    list-style: none;
  }
  body #menubox-top #menubox-top-inner #block-system-main-menu .content > ul.menu > li {
    list-style: none;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px dashed #ddd;
    position: relative;
    text-align: center;
  }
  body #menubox-top #menubox-top-inner #block-system-main-menu .content > ul.menu > li > a {
    display: block;
  }
  body #menubox-top #menubox-top-inner #block-system-main-menu .content > ul.menu > li > .sliderbutton_submenu {
    position: absolute;
    right: 18px;
    cursor: pointer;
    top: 5px;
    width: 20px;
    height: 20px;
    z-index: 3;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: url(../images/menuplus.png) no-repeat center;
  }
  body #menubox-top #menubox-top-inner #block-system-main-menu .content > ul.menu > li > .sliderbutton_submenu.open {
    background: url(../images/menumin.png) no-repeat center;
  }
  body #menubox-top #menubox-top-inner #block-system-main-menu .content > ul.menu > li > ul.menu {
    display: none;
    list-style: none;
    background: #ccc;
    padding: 0 10px;
    border-radius: 4px;
    margin: 10px 0 0;
  }
  body #menubox-top #menubox-top-inner #block-system-main-menu .content > ul.menu > li > ul.menu > li {
    list-style: none;
    margin: 0;
    padding: 5px 0;
    border-top: 1px dashed #ddd;
    text-align: center;
  }
  body #menubox-top #menubox-top-inner #block-system-main-menu .content > ul.menu > li > ul.menu > li:first-child {
    border: none;
  }
  body #menubox-top #menubox-top-inner #block-system-main-menu .content > ul.menu > li > ul.menu > li > a {
    display: block;
  }
  body #menubox-top #menubox-top-inner #block-superfish-1 {
    display: none;
  }
  body #content #content-sidebar {
    margin: 0 0 30px;
  }
  body #content #content-sidebar .sliderbutton_sidebar {
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: url(../images/arrow-down.png) no-repeat 92% center;
  }
  body #content #content-sidebar .sliderbutton_sidebar.open {
    background: url(../images/arrow-up.png) no-repeat 92% center;
  }
  body #content #content-sidebar .region-sidebar-left {
    display: none;
  }
  body #footer-top {
    padding: 50px 0;
  }
  body #footer-top .region-footer-top > div#block-nodeblock-24 {
    width: 100%;
    margin-bottom: 20px;
  }
  body #footer-top .region-footer-top > div#block-nodeblock-24 .left,
  body #footer-top .region-footer-top > div#block-nodeblock-24 .right {
    width: 100%;
  }
  body #footer-top .region-footer-top > div#block-nodeblock-23 {
    width: 100%;
  }
  .page-albums #content .view-albums .views-row,
  .page-taxonomy-term #content #block-system-main > .content > .node-fotoalbum {
    width: 42%;
    margin-right: 2%;
  }
  .page-albums #content .view-albums .views-row .field-name-title h2,
  .page-taxonomy-term #content #block-system-main > .content > .node-fotoalbum .field-name-title h2 {
    font-size: 14px;
  }
}
