// vars

$color-green: #00c6b4;
$color-yellow: rgb(235,229,56);
$color-grey-dark: rgb(48,51,51);
$color-grey: rgb(99,102,105);
$color-grey-light: #999999;

// fonts

@font-face {
  font-family: 'intro';
  src: url('../assets/fonts/intro-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima';
  src: url('../assets/fonts/proximanova-regular-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_problack';
  src: url('../assets/fonts/sourcesanspro-black-webfont.eot');
  src: url('../assets/fonts/sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/sourcesanspro-black-webfont.woff2') format('woff2'),
  url('../assets/fonts/sourcesanspro-black-webfont.woff') format('woff'),
  url('../assets/fonts/sourcesanspro-black-webfont.ttf') format('truetype'),
  url('../assets/fonts/sourcesanspro-black-webfont.svg#source_sans_problack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_probold';
  src: url('../assets/fonts/sourcesanspro-bold-webfont.eot');
  src: url('../assets/fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
  url('../assets/fonts/sourcesanspro-bold-webfont.woff') format('woff'),
  url('../assets/fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
  url('../assets/fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_prolight';
  src: url('../assets/fonts/sourcesanspro-light-webfont.eot');
  src: url('../assets/fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
  url('../assets/fonts/sourcesanspro-light-webfont.woff') format('woff'),
  url('../assets/fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
  url('../assets/fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_proregular';
  src: url('../assets/fonts/sourcesanspro-regular-webfont.eot');
  src: url('../assets/fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
  url('../assets/fonts/sourcesanspro-regular-webfont.woff') format('woff'),
  url('../assets/fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
  url('../assets/fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// classes
.font {
  font-family: 'proxima';
  font-weight: normal;
  font-style: normal;
  &.title {
    font-family: 'intro';
    font-weight: normal;
    font-style: normal;
  }
}

.clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

// mixins
@mixin transit($duration) {
  -webkit-transition: all $duration ease;
  -moz-transition: all $duration ease;
  transition: all $duration ease;
}

@mixin rotate($degrees) {
  -ms-transform: rotate($degrees); /* IE 9 */
  -webkit-transform: rotate($degrees); /* Chrome, Safari, Opera */
  transform: rotate($degrees);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@mixin cta($padding,$fontsize) {
  color: #000;
  font-size: $fontsize;
  font-family: 'intro';
  font-weight: normal;
  font-style: normal;
  position: relative;
  text-transform: lowercase;
  z-index: 1;
  padding: $padding 0;
  @include transit(.4s);
  &:before {
    content: '';
    width: 100%;
    height: 8px;
    left: 0;
    top: 0;
    background: $color-yellow;
    position: absolute;
    @include transit(.4s);
    z-index: -1;
  }
  &:after {
    content: '';
    width: 100%;
    height: 8px;
    left: 0;
    bottom: 0;
    background: $color-yellow;
    position: absolute;
    @include transit(.4s);
    z-index: -1;
  }
  &:hover, &:focus {
    text-decoration: none;
    padding: $padding;
    &:before {
      height: 50%;
    }
    &:after {
      height: 50%;
    }
  }
}

img, iframe {
  max-width: 100%;
  height: auto;
}

// tabs
ul.tabs--primary {
  background: none;
  padding: 20px 0;
  margin: 0 0 20px;
  width: 100%;
  text-align: center;
  display: inline-block;
  border: 0;
  li {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: none;
    a {
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 4px;
      border: none;
      color: #333;
      padding: 5px 10px;
      &.active {
        background: $color-green;
        color: #fff;
        position: relative;
        &:hover {
          background: $color-green;
          color: #fff;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: -16px;
          left: 50%;
          margin-left: -8px;
          border-top: 8px solid $color-green;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid transparent;
        }
      }
      &:hover {
        background: #333;
        color: #fff;
      }
    }
    &.active {
      a {
        background: $color-green;
        position: relative;
        border: none;
        color: #fff;
        padding: 5px 10px;
        &:after {
          content: "";
          position: absolute;
          bottom: -16px;
          left: 50%;
          margin-left: -8px;
          border-top: 8px solid $color-green;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid transparent;
        }
        &:hover {
          background: $color-green;
          color: #fff;
          border: 0;
        }
      }
    }
  }
}
