@font-face {
  font-family: 'source_sans_problack';
  src: url("../assets/fonts/sourcesanspro-black-webfont.eot");
  src: url("../assets/fonts/sourcesanspro-black-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/sourcesanspro-black-webfont.woff2") format("woff2"), url("../assets/fonts/sourcesanspro-black-webfont.woff") format("woff"), url("../assets/fonts/sourcesanspro-black-webfont.ttf") format("truetype"), url("../assets/fonts/sourcesanspro-black-webfont.svg#source_sans_problack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_probold';
  src: url("../assets/fonts/sourcesanspro-bold-webfont.eot");
  src: url("../assets/fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../assets/fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("../assets/fonts/sourcesanspro-bold-webfont.ttf") format("truetype"), url("../assets/fonts/sourcesanspro-bold-webfont.svg#source_sans_probold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_prolight';
  src: url("../assets/fonts/sourcesanspro-light-webfont.eot");
  src: url("../assets/fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/sourcesanspro-light-webfont.woff2") format("woff2"), url("../assets/fonts/sourcesanspro-light-webfont.woff") format("woff"), url("../assets/fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("../assets/fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_proregular';
  src: url("../assets/fonts/sourcesanspro-regular-webfont.eot");
  src: url("../assets/fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../assets/fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../assets/fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../assets/fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 76, vars.scss */
.font {
  font-family: 'source_sans_proregular';
  font-weight: normal;
  font-style: normal;
}
/* line 80, vars.scss */
.font.light {
  font-family: 'source_sans_prolight';
  font-weight: normal;
  font-style: normal;
}
/* line 85, vars.scss */
.font.bold {
  font-family: 'source_sans_probold';
  font-weight: normal;
  font-style: normal;
}
/* line 90, vars.scss */
.font.black {
  font-family: 'source_sans_problack';
  font-weight: normal;
  font-style: normal;
}

/* line 98, vars.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 107, vars.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 113, vars.scss */
ul.tabs--primary {
  background: none;
  padding: 20px 0;
  margin: 0 0 20px;
  width: 100%;
  text-align: center;
  display: inline-block;
  border: 0;
}
/* line 121, vars.scss */
ul.tabs--primary li {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: none;
}
/* line 126, vars.scss */
ul.tabs--primary li a {
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  color: #333;
  padding: 5px 10px;
}
/* line 133, vars.scss */
ul.tabs--primary li a.active {
  background: #00c6b4;
  color: #fff;
  position: relative;
}
/* line 137, vars.scss */
ul.tabs--primary li a.active:hover {
  background: #00c6b4;
  color: #fff;
}
/* line 141, vars.scss */
ul.tabs--primary li a.active:after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
  border-top: 8px solid #00c6b4;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
/* line 153, vars.scss */
ul.tabs--primary li a:hover {
  background: #333;
  color: #fff;
}
/* line 159, vars.scss */
ul.tabs--primary li.active a {
  background: #00c6b4;
  position: relative;
  border: none;
  color: #fff;
  padding: 5px 10px;
}
/* line 165, vars.scss */
ul.tabs--primary li.active a:after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
  border-top: 8px solid #00c6b4;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
/* line 176, vars.scss */
ul.tabs--primary li.active a:hover {
  background: #00c6b4;
  color: #fff;
  border: 0;
}
